/*

fish_variables

!.gitignore
!chromium-flags.conf
!mimeapps.list

!/aerc
!/alacritty
!/chicken
!/cron
!/fish
!/fontconfig
!/git
!/gnome
!/helix
!/imv
!/misc
!/npm
!/pg
!/pipewire
!/python
!/rg
!/sway
!/udev
!/xkb
!/zathura

!/sublime-text
/sublime-text/*
!/sublime-text/Packages

/sublime-text/Packages/*
!/sublime-text/Packages/User
!/sublime-text/Packages/dprint

/sublime-merge/*
!/sublime-merge/Packages

/sublime-merge/Packages/*
!/sublime-merge/Packages/User
